[2015-01-16 19:08] kevmoo opened #3 "Examples: request for /rest does not return valid JSON"
Should be encoded

[2015-01-16 19:12] kevmoo opened #4 "Replace getAllDiscoveryDocuments with list discovery APIs or similar"
See https://developers.google.com/discovery/v1/reference/apis/list

Output: https://www.googleapis.com/discovery/v1/apis

[2015-01-16 19:13] kevmoo opened #5 "RpcError: rename code to statusCode"
Be a bit more clear that this relates to HTTP status codes

[2015-01-16 19:13] kevmoo opened #6 "RpcError: rename msg to message"
Opt for full words

[2015-01-20 13:21] wibling opened #7 "Support List<SomeType> defaultValues."
We don't correctly support defaultValue for List<SomeType> fields in a schema.

[2015-01-20 13:23] wibling opened #8 "Support 'int' path parameters in method urls."
Currently all path parameters are interpreted as String.

[2015-01-20 13:25] wibling opened #9 "Support query string parameters."
We don't currently pass on the query string parameters as named parameters to the methods.

To do this we need to update the uri package to handle uri templates with query strings using key=value pairs with value being a variable.

[2015-01-20 13:27] wibling opened #10 "Look into making the encoding protocol pluggable"
We currently only support Discovery Docs (json) as the message encoding.
It might be worth looking into support proto3 and possible other encodings. Ideally this should be pluggable so an application server could plug in a proprietary encoding format.

[2015-01-28 12:43] wibling commented on #9
Fixed as of change  3deae76bfb398fe8ccd2e6294bc967273ca8d967.

[2015-01-28 12:43] #9 closed

[2015-01-28 12:45] wibling commented on #7
An addition to the above! We don't support List<Type> as default because currently the encoding of a defaultValue in Discovery Docs is a String.
We would have to encode a list defaultValue as a String for it to work.

[2015-01-28 12:45] wibling commented on #4
Fixed as of change 9c550d1a4c9a2b801fd8b8079e1bc796927b47c5.

[2015-01-28 12:45] #4 closed

[2015-01-28 12:46] wibling commented on #3
Fixed as of change 9c550d1a4c9a2b801fd8b8079e1bc796927b47c5.

[2015-01-28 12:46] #3 closed

[2015-02-06 11:25] wibling commented on #8
Fixed as of commit 6a47e51f85d6f911d5e8bf8e7bd9c8c7fbc54960

[2015-02-06 11:25] #8 closed

[2015-02-20 11:38] wibling opened #11 "Provide handler for dart:io HttpRequests"
Adding support for a dart:io http request would allow clients to get rid of some boiler-plate code.

[2015-02-20 11:39] wibling opened #12 "Support shelf handler."
We should have a separate shelf_rpc package which provides a handler that can be used by clients who wants to use the dart-lang/rpc package.
This allows them to get rid of boiler-plate code.

[2015-02-20 11:41] wibling opened #13 "Support automatic generation of API documentation"
It would be nice to get a string describing the API methods available in the API with user provided comment describing them.
There is already a description annotation for the top-level class, resources, and methods which should be used when generating the documentation.

[2015-02-20 11:43] wibling opened #14 "Add ApiSchema annotation to override default schema name."
Having an ApiSchema annotation would help resolve conflicts for two schemas with the same class name (located in different libraries).

[2015-02-20 11:45] wibling opened #15 "Use ServiceScope to give global access to current request"
By storing the current api request in a ServiceScope it is possible to generate the most correct discovery document by always using the current request's origin.

[2015-02-20 11:45] wibling commented on #15
Having access to the current request, also allows for better logging.

[2015-02-20 11:46] wibling opened #16 "Support blob data upload/download"

[2015-02-20 11:46] wibling opened #17 "Discovery document etag not updating correctly"
When changing the API the etag should change as well. That's not currently the case.

[2015-02-20 11:47] wibling opened #18 "Return 204 No Content when response is empty"
Similar return 201 Created when a new instance is created.

[2015-02-20 11:49] wibling opened #19 "Support List/Map as a top-level return type"
We should provide a named map/list class to use for returning a map and a list from a method.

[2015-02-20 11:50] wibling opened #20 "Handle OPTIONS requests"
The RPC package should automatically handle OPTIONS requests.

[2015-02-24 08:48] wibling opened #21 "Add support for naming method request and response types."
Rather than using the generated names of the Lists/Maps or SchemaClasses it should be possible to annotate a method with a specific request/response schema name.

[2015-02-24 14:36] wibling commented on #19
Fixed as of commit a5f6e69aea4605c45f9216cfcf6483ab6f3c140e.

[2015-02-24 14:36] #19 closed

[2015-02-27 09:05] wibling commented on #17
Fixed as of commit 99a7c7d08f06ebda2f54afb23557313f44919e85

[2015-02-27 09:05] #17 closed

[2015-02-27 09:06] wibling commented on #11
Fixed as of commit 8f563b3f11d3ad501cfff02d134f695003e3975d

[2015-02-27 09:06] #11 closed

[2015-02-27 09:08] wibling opened #22 "Consider more efficient way to compute etag for discovery doc."
Currently etags for discovery docs are computed by completed encoded the RestDescription instance. This means using the schema to generate the JSON instance and the encode the JSON to a List<int> before adding it to sha1.

This is a bit cumbersome. Consider if there is a more efficient way to get a unique description.

[2015-03-03 09:21] wibling opened #23 "Don't allow string values to be passed in request for non-string fields."
Currently we always try to convert string values to e.g. double, bool, etc. if passed in a request. We should disallow this. It requires re-making the way we store and set defaultValues which is currently always a String.

[2015-03-03 14:53] wibling commented on #12
Fixed by Nicolas Garnier. See https://pub.dartlang.org/packages/shelf_rpc.

[2015-03-03 14:53] #12 closed

[2015-03-05 11:52] wibling commented on #7
Won't fix.

[2015-03-05 11:52] #7 closed

[2015-03-11 21:06] lukechurch opened #25 "Command in docs doesn't work on a mac"
URL='https://your_app_server/api/myApi/v1/rest' mkdir input curl -o input/myapi.json $URL

on a mac causes 4 directories to be made, '-o', 'curl', '-o' and 'input/myapi.json'

Not quite the intended behaviour I suspect.

[2015-03-23 19:34] seaneagan opened #27 "Auto-generated API documentation"
Documentation is a very important part of implementing a REST API, but maintaining an API description doc such as [RAML](http://raml.org/) or [swagger](http://swagger.io/) or [API Blueprint](https://apiblueprint.org/) can be tedious.  But since the rpc package allows you to declaratively specify your REST interface, it should be possible to auto-generate these docs either as part of a build or dyn

[2015-03-23 19:39] seaneagan commented on #27
Oops, I think this may be a duplicate of #13, but #13 doesn't mention any 3rd party documentation formats, so not sure.

[2015-03-23 19:48] seaneagan commented on #13
I think it should be available at build time, which would make it easier for a separate tool to take the generated API spec and generate REST client code from it.  It would also allow you to do sanity checks at build time, instead of just hoping it works at runtime.

So maybe a pub transformer?

[2015-03-25 19:08] cgarciae opened #28 "RPC's goal"
Hi,

I've had a look at RPC and I like it very much. I am a Redstone user, and when I look at it I feel at home.

But first of, why didn't you fork Redstone? The style is incredibly similar, has a bunch of features already, decent documentation, also based on `shelf`, etc.

Second, what specific benefits do you get from RPC? I don't understand very well what is Google Discovery.

Thanks!

[2015-03-27 08:44] wibling commented on #27
I completely agree!
It is definitely our plan to make it possible to declaratively document your APIs and have the  documentation generated automatically. I do plan to get to this ASAP. Of course contributions are always welcome :-)

[2015-03-27 14:12] FaisalAbid commented on #28
AFAIK, Google Discovery lets you easily generate stubs for client apis.

[2015-03-27 15:24] mmaquevice opened #29 "ApiMethod with async"
Congrats for RPC ! :)

Are you planning to support async api method ?

e.g. :
[code]

[2015-03-27 15:59] cgarciae commented on #28
Ok, a saw a long video about Google Discovery but two questions remain (a guy in the audience asked one but the presenter failed to respond):

1. Does it only work for the Google APIs? (Hope not)
2. When you say things like "generate stubs for client apis", does that mean it auto generates a class for you to use in the client, which contains methods for you to call each services?

I mean, it it so

[2015-03-30 04:33] cgarciae commented on #29
@mmaquevice your `MyRespose` is a `Future<SomeClass>` since its an async function. RPC already support returning futures. In Dart you can't distinguish a **sync** function that returns a `Future<A>`, from an **async** function that "returns" an `A`

[2015-04-01 01:19] wstrange opened #31 "Provide pluggable authorization handlers"
A service may want to restrict methods that a client can invoke. A common case is requiring a client to have an OAuth access token with required scopes.

Shelf middleware could be used in front of the rpc handler - but this means that every client would need to have the  same set of scopes.

A pluggable handler would be useful. Perhaps allowing access to the shelf context in case HTTP headers, etc

[2015-04-09 13:41] Kleak opened #32 "Access to the Header"
Is there a way to acces to the header we receive and modify the header we send?

[2015-04-09 20:46] mmaquevice commented on #29
My bad, I thought it didn't work but you're right!

[2015-04-09 20:46] #29 closed

[2015-04-10 09:29] wibling commented on #31
Hi Warren,

I will look into this. In the case of extending the ApiMethod annotation I expect you would like the scopes to be validated by the framework, right?

Cheers,
/gustav

[2015-04-10 09:31] wibling commented on #32
Currently this can only be done by writing your own http request handler and intercepting the request/response. You cannot as of now access the header inside the api method. I am working on issue 15 which should give you access to the request headers in the method.

[2015-04-10 09:32] wibling commented on #20
This is fixed as of commit aae8f70cac502b2b711e7bcc874302e092ddf312.

[2015-04-10 09:32] #20 closed

[2015-04-10 09:35] wibling commented on #28
No, you are not dreaming too much :) This is exactly how it works.
The rpc package uses the same format (Discovery Document in JSON) as the Google APIs to describe the API you implement via the annotations.
The discovery API generator can then be used to generate a client stub class in Dart as you describe above which is used on the client side to call the server.

[2015-04-10 17:10] mmaquevice commented on #32
+1, i need this feature too !

And also the possibility to customize the status code returned by my method (201, 204... instead of 200), is it in the roadmap too ?

[2015-04-11 17:38] cgarciae opened #33 "D.I."
I am very confused if this is currently possible or not, in the example you manually add a new API by passing an instance, you it look like you could do D.I. yourself. The problem is I want to inject a DB connection on every request and somehow automatically close it afterwards.

[2015-04-12 22:14] wstrange commented on #31
Yes - exactly!

[2015-04-13 12:20] wibling commented on #25
Luke, if you have time please check if this has been fixed with Martin's change!

[2015-04-13 12:20] #25 closed

[2015-04-21 18:20] skybrian opened #38 "modify rpc code generator to avoid mirrors"
The http library depends on mirrors and it appears this won't be fixed soon [1].

Therefore, it seems like there should be a way to generate a client-side API that is browser-only and uses the dart:html library directly to make http requests? Then web apps can use the rpc package without using mirrors.

[1] https://github.com/dart-lang/http/issues/1

[2015-04-21 20:02] devoncarew commented on #38
+1, we would use this option for dartpad. We see this in our build:
[code]
and it definitely makes me uncomfortable.

[2015-04-21 20:06] nex3 commented on #38
There's no reason to feel nervous here. The warning is a false positive; the `http` package works just fine in browsers and doesn't cause bloat. We should get rid of the warning, not the package.

[2015-04-21 21:16] skybrian commented on #38
Created a bug for fixing dart2js:
https://code.google.com/p/dart/issues/detail?id=23293

[2015-04-21 21:16] #38 closed

[2015-04-22 11:56] polux opened #39 "Allow access to cookies in a request handler"
I see that 392e8eca2256467a704be7255dd2d2f5c7614c2f gives access to the URL and headers of the original HTTP request. Would be nice if it also gave access to cookies.

[2015-04-23 08:15] wibling commented on #32
FYI with the latest version you now have access to the request url and headers in the "context." variable within your api methods.
Also I changed it such that there is a 'rpc/api.dart' file which should be used in the dart file(s) defining your api instead of 'rpc/rpc.dart'. This is not a requirement, but does mean you don't include server specific packages (dart:io) into your api code which can b

[2015-04-23 08:16] wibling commented on #15
This is fixed in v.4.0.1 as per commit 392e8eca2256467a704be7255dd2d2f5c7614c2f.

[2015-04-23 08:16] #15 closed

[2015-04-23 08:17] wibling commented on #6
Fixed in v4.0.1 by kleak.

[2015-04-23 08:17] #6 closed

[2015-04-23 08:17] wibling commented on #5
Fixed in v4.0.1 by kleak.

[2015-04-23 08:17] #5 closed

[2015-04-24 16:12] sanmadjack opened #40 "Generate error when using API class in a library"
When using rpc/bin/generate.dart to generate a discovery file or client files, I get this error if my API class is part of a library:

   C:\Users\sanmadjack\Desktop\dart_dev\dartalog>pub run rpc:generate discovery -i lib\server\api\src\dartalog_api.dart -p 8080 -a api
   in ShutdownIsolate: Unhandled exception:
   Uncaught Error: IsolateSpawnException: 'file:///C:/Users/sanmadjack/Desktop/dart_de

[2015-04-25 22:42] Kleak commented on #32
great :)
and what about custom status code and access to the header of the response?

[2015-04-28 16:00] wibling commented on #32
Working on the remaining parts as well :)

[2015-05-04 17:35] lukechurch opened #41 "Not needing empty ctors for result objects"
As per https://github.com/dart-lang/dart-services/pull/177 it would be nice not to have empty ctors for response objects - as these are often 'final' data carriers it is considerably cluttering to require them.

Thanks!

[2015-05-05 09:07] brnjamin opened #42 "Incompatibility between the shelf and rpc packages."
There seems to be an incompatibility between the shelf and rpc packages.

In rpc [0.4.1] config/api.dart: The handleHttpOptionsRequest expects the 'access-control-request-method' header to be a List:

    Future<HttpApiResponse> handleHttpOptionsRequest(
          ParsedHttpApiRequest request) async {
        var requestedHttpMethods = request.headers['access-control-request-method'];
        List

[2015-05-05 12:00] wibling commented on #42
Fixed by ebb4d75cc5709d580f075d524aa72b68069a1d76. Will publish new package version soon.

[2015-05-05 12:50] wibling commented on #42
New package has been published. If you do a 'pub upgrade' you should pick up version 0.4.2 which should work with the shelf_rpc package and options.

[2015-05-05 12:50] #42 closed

[2015-05-06 12:31] wibling commented on #41
Fixed in commit 6bce577333e93f17813861ae798e903bbc33b173.

[2015-05-06 12:31] #41 closed

[2015-05-07 06:59] wibling commented on #40
Hi sanmadjack,

Could you try pointing the -i option at the file with the 'library' statement rather than the one with the 'part of' statement? It should find the @ApiClass in your 'part of' file since it is part of the overall library.

I will work on providing a better error message.

[2015-05-08 13:50] devoncarew opened #43 "add support for `bool` params"
I'm getting this for a new param type:

    CommonServer.compileGet: Query parameter 'useCheckedMode' must be of type int or String.

here's the definition:

    @ApiMethod(method: 'GET', path: 'compile')
    Future<CompileResponse> compileGet({String source, bool useCheckedMode})

I assume bools aren't supported as params, and I'll need to check for a string == 'true' or something? It would be gr

[2015-05-12 14:08] wibling commented on #40
I have added the better error message as of commit 659ccabd6b6e91e06bf27f4f99f192fdd19b356a.

[2015-05-12 14:08] #40 closed

[2015-05-12 14:09] wibling commented on #39
Should be fixed as of commit 659ccabd6b6e91e06bf27f4f99f192fdd19b356a.

[2015-05-12 14:09] #39 closed

[2015-05-12 14:09] wibling commented on #32
Should be fixed as of 659ccabd6b6e91e06bf27f4f99f192fdd19b356a.

[2015-05-12 14:09] #32 closed

[2015-05-12 14:10] wibling commented on #18
We now return 204 when the body is empty. Since it is a bit hard for the framework to detect if an entity has been created the implementor of a method can instead override the status code with 201 if that's the code (via the InvocationContext).

[2015-05-12 14:10] #18 closed

[2015-05-12 14:20] polux commented on #39
Woot, thanks!

[2015-05-12 18:18] sanmadjack commented on #40
Thanks, that explains it nicely.

[2015-05-14 18:15] lukechurch opened #44 "Some errors are being reported as 5xx, when they should be a 4xx series"
Consider e.g. the trace at the end of this message.

In this case the server is being sent bad data, which is causing RPC to fail to find a matching method. This is a problem with the client, not the server, so should probably be returning HTTP 400, not HTTP 500.

 rpc: Invoking API: /dartservices/v1 with HTTP method: POST on path: /dartservices/v1/analyze.
 rpc: Failed to decode request body: For

[2015-05-26 09:02] hangstrap commented on #28
To carry on with the dream. Will the magic that generate the ClientService also provides the logic that performs the http call to the server?

[2015-05-26 09:27] andreasolund commented on #28
@hangstrap Yes! To generate a client library you first have to fetch the discovery document from your server and then you run the discoveryapis_generator. The generated library contains the data models and methods to communicate with the RPC server. :)

[2015-05-28 14:37] wibling commented on #28
That's correct!
Stubs will always be generated. Either as @andreasolund writes by downloading the Discovery Document from a server and generating stubs and messages from it using the discoveryapis_generator or when putting the client and server code in the same package the stubs can be generated using the rpc:generate command as described in the server codelab (https://www.dartlang.org/codelabs/se

[2015-05-28 18:05] iamcharliegoddard opened #45 "Package rpc 0.5.0 does not match >=0.4.0 <0.5.0"
When resolving dependencies using pub I receive the following message:
[code]

reviewing the latest commit: https://github.com/dart-lang/rpc/commit/659ccabd6b6e91e06bf27f4f99f192fdd19b356a#diff-fb2d52cd953afedcafc9fe7629c6f132R2

if I revert the change to `pubspec.yaml` `version: 0.5.0` back to `version: 0.4.3` the dependencies resolves:
[code]
I believe the `shelf_rpc` project needs to have their

[2015-05-28 18:09] devoncarew commented on #45
It would be great to avoid the circular dependency from `rpc` <==> `shelf_rpc`. `shelf_rpc` is only used by the `example/` directory; perhaps it's constraint could be broadened here to `any`?

@wibling

[2015-05-29 08:39] wibling commented on #45
If I update the shelf_rpc dependency to any I get version 0.0.1 of shelf_rpc which also seems broken (ie. the example will not work).
AFAICT the issue here is that I didn't update the shelf_rpc dependency to the latest rpc package. I will update that instead.
How would the 'any' dependency help us except hide the fact that the shelf_rpc package should be updated to use the latest version?

[2015-06-06 11:12] daftspaniel opened #48 "Add a Future method to toyapi.dart example"
Add a Future method to toyapi.dart example.

This is mentioned in the readme and it would be great to have a working example for those new to it. Or will this become Async? :-)

[2015-06-06 18:59] FaisalAbid commented on #48
I'll add an example to it and send a PR

[2015-06-09 08:51] hangstrap commented on #28
The whole idea sounds great. A simple way of manage and documenting a web
service API.

Is it possible to use the same Discovery Document technology on a Java web
server? If so, could you please supply me with some links

I asked the same question on stackoverflow but am not sure if I was tagging
my question with the correct group.
http://stackoverflow.com/questions/30727030/using-document-discove

[2015-06-14 15:44] FaisalAbid opened #50 "Auto-namespacing the APIMethods"
If I have an API class and a few APIResources declared in it like so

`@ApiResource(name: 'user')
  UserResource user = new UserResource();`

`@ApiResource(name: 'movie')
  MovieResource user = new MovieResource();`

It would be good if inside UserResource or MovieResource I can just put

  `@ApiMethod(method: 'POST', path: 'register')
  Future<Map<String, String>> register(UserRequest request) as

[2015-06-15 13:52] maximepvrt opened #51 "Add parsing for all object with serializable object or list of serializable object"

[2015-06-16 14:13] wibling commented on #50
Hi Faisal,

We deliberately decided to not have the HTTP path follow the nesting of the objects. The reason was that it was more flexible and also ensured that people were conscious about changes to the public HTTP REST API.
It does mean you have to update the path explicitly, but at the same time it gives the freedom to decouple the internal code layout from the external API layout, which can be

[2015-06-16 14:14] wibling commented on #51
Hi Maxime,

Could you elaborate a bit with an example?

Regards,
/gustav

[2015-06-16 15:09] maximepvrt commented on #51
currently it's impossible to return this item :)

[code]

[2015-06-16 15:32] FaisalAbid commented on #50
Okay sure, I buy that. Makes sense to me.

Thanks!

[2015-06-16 15:32] #50 closed

[2015-06-18 12:56] FaisalAbid commented on #48
Hi Dafts, this example is now in the repo. Let me know if this issue is good to close.

[2015-06-18 13:07] anettan commented on #48
thante.-now in the repo.

[2015-06-18 18:50] daftspaniel commented on #48
@FaisalAbid That's just the ticket - please close the issue! Thanks for adding this :+1:

[2015-06-18 18:51] FaisalAbid commented on #48
@wibling - good to close

[2015-06-19 10:16] hangstrap opened #53 "Error when running rpc generate client"
http://stackoverflow.com/questions/30934334/dart-error-running-rpc-generate-client?noredirect=1#comment49905572_30934334

I am trying to follow the "Beware the Nest o’ Pirates" tutorial https://www.dartlang.org/codelabs/server/ and have hit a problem when I try to generate the client code for the PiratesApi

When I run the command

pub global run rpc:generate client -i lib/server/piratesapi.dart -

[2015-06-19 10:38] wibling commented on #48
Sure!

[2015-06-19 10:38] #48 closed

[2015-06-30 00:25] thelordofthetimes opened #54 "how to redirect url"
in api method, how to redirect url same as
[code]

[2015-06-30 00:36] thelordofthetimes commented on #54
anybody here  to develop ?

[2015-06-30 08:06] goranj commented on #53
I made this work by activating the rpc package with a version constraint:
[code]
https://www.dartlang.org/tools/pub/cmd/pub-global.html

[2015-07-01 17:56] FaisalAbid commented on #54
Hi! Apologize for the late response. I don't think there is a way to currently do this inside the API method.

@wibling am I correct? I think we should expose the HttpRequest object for api methods to use if they want, what do you think?

[2015-07-02 02:17] thelordofthetimes commented on #54
I found solution after read change log, code..., many time. Must be use context same as below code

[code]

[2015-07-02 02:18] FaisalAbid commented on #54
oh awesome, I think we should document this more.

Thanks for looking into it

[2015-07-02 02:20] thelordofthetimes commented on #54
Hey FaisalAbig, this project has also been developed ?

[2015-07-02 02:28] FaisalAbid commented on #54
I've very recently started to contribute to the project. The project is developed by @wibling

[2015-07-02 02:38] thelordofthetimes commented on #54
I'm try to make api for media at [cdna.media](https://github.com/thelordofthetimes/cdna.media).
So I hope dartlang and them library is still developing. I was a bit worried because last commit from a few months ago. What do you think about that ?

[2015-07-02 02:44] FaisalAbid commented on #54
Don't worry, my entire startup relies on this API also, one of the reasons why I'm trying to get more active here is so the api does not get left behind, I'll make sure to keep it active and maintained

[2015-07-02 02:52] thelordofthetimes commented on #54
So good. Documentation is required for this project. It is difficult for a new develper looking api. Can I do  this ?

[2015-07-02 02:54] FaisalAbid commented on #54
The Readme.md file contains a good example of how it works, check out toyapi.dart also. There is no formal documentation yet, but that is something that is on the radar to do, a wiki of sorts

[2015-07-02 02:59] thelordofthetimes commented on #54
Okey, that's good in this time. But in future is still require documentation, may be. I'm close this issuse and come back with new issuse later. Have a nice day !

[2015-07-02 02:59] #54 closed

[2015-07-02 02:59] FaisalAbid commented on #54
Thanks!

[2015-07-02 09:37] hangstrap opened #55 "RPC is using a very old dependencies"
Could you possibly update them?

http://stackoverflow.com/questions/31156495/dart-pub-get-fault/31157111#31157111

thanks

[2015-07-02 12:59] FaisalAbid commented on #55
I'll take a look, thanks

[2015-07-02 14:35] #45 closed

[2015-07-02 14:37] wibling commented on #43
Fixed by Faisal's commit 2676fdd713e224f5b58416f6eba0ef6dd168768d.

[2015-07-02 14:37] #43 closed

[2015-07-08 15:54] maximepvrt commented on #51
@wibling ?

[2015-07-09 10:30] wibling commented on #51
Hi Maxime,

Sorry for the long delay. I have been busy with other (unrelated) work.
For you example above it should work as is. I just tried it out by modifying the example/toyapi.dart file to also have a method that returns an Account as you describe it.

Take a look at:

https://codereview.chromium.org/1226373002/diff/1/example/toyapi.dart

If I call the new 'account' method by doing a

GET http

[2015-07-09 14:39] wibling commented on #53
As goranj mentions it is due to the different rpc version. When you run pub global activate it gets the latest version into your .pub-cache. However the codelab expects 0.4.x. You can work around this by constraining the activate as above.

That said I have just updated the codelab to use rpc 0.5.0 so it should work without constraints again.
See https://github.com/dart-lang/one-hour-codelab/commi

[2015-07-09 14:39] #53 closed

[2015-07-10 13:45] wibling commented on #55
This should be fixed as of change: 730531bd932709479f8fdffb2f7b5cc9fb0a4517

Please let us know if this is still an issue.

[2015-07-10 13:45] #55 closed

[2015-07-28 17:15] FaisalAbid commented on #51
Hey @maximepvrt did that solve your issue?

[2015-07-28 17:16] FaisalAbid commented on #44
Thanks for this, i'll take a look into this shortly.

[2015-07-31 15:35] platelk opened #57 "Plugin for RPC"
Hi,

After some times looking at RPC package, i didn't find any section about plugin or what is the recommended way to extends RPC as we can do in redstone [here](http://redstonedart.org/doc/Plugin-API.html).

##Why is want plugin ?

Because it think this is a nice way to extends the functionality of RPC and the annotation system can make it very clean, and easily reusable.

as example here i have

[2015-08-05 23:44] tonyclickspace opened #58 "Complex dart-lang/gcloud data structures"
Tried to make a single class that could be understood by both gcloud and rpc packages. As soon as it got complex, i.e. beyond primitives, gcloud package conflicts with rpc, throwing this error:
[code]

The why: Using gcloud, items that go in and out of the database are required to extend Model. All of the database-storable values have to be either primitives, or other models. To link to other mode

[2015-08-06 13:34] wibling commented on #58
Good point. We have discussed this before. I have send out a change adding support for ignored fields in a request/response schema class. See https://codereview.chromium.org/1276843005/.

[2015-08-10 09:36] wibling commented on #58
Should be supported now.

[2015-08-10 09:36] #58 closed

[2015-08-11 20:13] tonyclickspace opened #59 "List<Type> containing nulls behaving inconsistently"
When serializing lists containing nulls, rpc returns different values.

List<String> ["one", null, null] returns ["one", null, null]
List<String> [null, null, "three"] returns [null, null, "three"]
List<String> ["one"] returns ["one"]

But
List<String> [null] returns [ ]
An empty list, as opposed to a list with a single null inside. I was having an error where I expected a number of lists to have

[2015-08-17 09:31] properius opened #60 "Uri dependency not working"
Uri package was updated to 0.11.0 few days ago. Rpc package worked well until yesterday. This morning with pub get I got:

    Package uri has no versions that match >=0.9.3 <0.10.0 derived from:
    - rpc 0.5.0 depends on version >=0.9.3 <0.10.0

and:

    Package uri has no versions that match >=0.9.3 <0.11.0 derived from:
    - rpc 0.5.2 depends on version >=0.9.3 <0.11.0

Can the Rpc package u

[2015-08-18 17:47] properius commented on #60
It is working again. Closed.

[2015-08-18 17:47] #60 closed

[2015-08-21 17:23] properius opened #61 "ApiRequester.simpleRequest() sets unsafe headers causing Chrome to report "Refused to set unsafe header""
I'm using Rpc package and it uses http.BrowserClient to send API requests to the server.

However on each POST request, Chrome reports two errors saying:

    Refused to set unsafe header "user-agent"
    Refused to set unsafe header "content-length"

These two headers are not allowed to be set in a browser as per http://www.w3.org/TR/XMLHttpRequest/#the-setrequestheader-method.

It would be great

[2015-08-24 11:01] aabluedragon opened #62 "Support Protocol Buffers serialisation."
It would be useful if we could use Protobuf in dart-rpc, or even any serialisation methods other than JSON, maybe specify which one to use (like a content-type) using the `Accept` request header.

Even though JSON is most broadly used, for many situations, others are required as well.

See related [StackOverflow question](http://stackoverflow.com/questions/32175131/dart-rpc-use-protocol-buffers-se

[2015-08-28 16:44] enyo commented on #31
This would also be great, since the generated discovery API document should include the scopes necessary for each request.
Is there an ETA for this feature? I am struggling to build an API with `dart-lang/rpc` that provides proper authentication (I want to use JWT).

[2015-08-31 07:15] wibling commented on #31
Hi Matthias,

Would it be possible for you to use the shelf package in conjunction with the RPC package to achieve this. E.g. something like how the logging is done in the RPC example, https://github.com/dart-lang/rpc-examples/blob/master/bin/shelf_sample.dart.

Basically you setup a shelf pipeline and add the JWT authentication handler as middleware?

/gustav

[2015-08-31 13:58] wstrange commented on #31
That does sort of work - but it is not optimal.

The example above is for authentication. Assuming you want all methods to be protected, it is probably OK to have a blanket shelf filter that protects everything.

But what if you want some methods to be "public" (i.e. not protected).  You have to do some kind of filtering in shelf -which gets really awkward.

And authorization will almost always be

[2015-08-31 14:28] enyo commented on #31
Thanks for your reply @wibling.

That's how I do it at the moment:

[code]

Although that works it creates a problem: the authorization and validation is done on a _path_ level. So if, for some reason, I move my account routes to another path (eg: `/api/v1/user`) my `loginMiddleware` will suddenly become inactive.

It also becomes a bit difficult to add different scopes for different routes, since

[2015-08-31 14:41] wstrange commented on #31
Perhaps a new issue should be created?

Define a plugin mechanism for RPC.   The plugins should allow for pre and post method handlers, and should give access to the current request context. Perhaps the plugin should be able to access annotations on the method.

Such a plugin could be used to implement things like scope handlers.

[2015-08-31 16:52] platelk commented on #31
I think that this could be a really great features too, it could be a really great mecanisme to implement authentification, check access level etc.

[2015-09-02 10:20] wibling commented on #31
+faisai.abid@gmail.com

I see your points. I am myself a bit preoccupied with another project at
the moment.

Faisal is this something you are interested in and have time to look at?

/gustav

On Mon, Aug 31, 2015 at 6:52 PM, Vink <notifications@github.com> wrote:

[2015-09-02 13:56] FaisalAbid commented on #31
@wibling Yep I'll take this task on. Been wanting this too.

[2015-09-03 06:51] wibling commented on #31
Great!

/gustav

On Wed, Sep 2, 2015 at 3:56 PM, Faisal Abid <notifications@github.com>
wrote:

[2015-09-03 16:15] enyo opened #63 "Send error "codes" to clients"
There is an `RpcError` that allows me to send a specific error code with a message. The `RpcError` also has a `.name` attribute that is never used (as far as I can see).

It would be great if there was an attribute (for example the `name`) that I can use to send specific error codes to the clients.

Right now it gets submitted as

[code]

Why not add the `name` in there as well?

[2015-09-04 14:54] enyo opened #64 "Decode URL query & path"
When using the generated client libraries for RPC, the path and query components are encoded automatically (eg: `%20`). They are not, however decoded on the server side, so I need to decode them in the `ApiMethod` manually.

I think that this should be done behind the scenes.

[2015-09-09 15:22] enyo opened #65 "ApplicationError should accept other types of thrown objects"
When my app throws (for example a `NoSuchMethodError`) the RPC library doesn't return properly but also throws:

[code]

This is because the [`ApplicationError` expects an `Exception` in the constructor](https://github.com/dart-lang/rpc/blob/master/lib/src/errors.dart#L34). It hink this can be changed to dynamic.

[2015-09-13 01:12] FaisalAbid commented on #65
Good point, i will investigate this shortly

[2015-09-17 06:52] wibling commented on #57
That is a good point. @FaisalAbid is currently looking into adding plugins to the RPC package. It should be on its way.

[2015-09-17 06:54] wibling commented on #59
Thanks for the report. I will take a look at this shortly.

[2015-09-17 06:55] wibling commented on #61
As Tristan mentioned you can work around this for the moment by wrapping the client and have the wrapper remove the two headers before sending the request.

[2015-09-17 06:55] wibling commented on #61
Didn't mean to close the issue.

[2015-09-17 06:58] wibling commented on #62
Supporting protobuf and in general having a way to plugin serialization is something we have discussed. It would be very nice to have, but it is not planned for the near term.

[2015-09-17 07:01] wibling commented on #63
Good idea. I will look into this shortly. I am currently balancing my time between a few other projects so I am a little slow with addressing RPC issues. You are very welcome to submit changes yourself and I will try to be quick about reviewing and merging them. Otherwise I will try to set aside some time ASAP for RPC.

[2015-09-17 07:02] wibling commented on #64
I will look into this ASAP.

[2015-09-17 13:14] FaisalAbid commented on #57
Yea it's on this way, sometime early next week I'll get a PR going.

[2015-09-17 15:43] enyo commented on #63
Hey, I can gladly help out. Just want to make sure I'm not doing something unwanted in the lib.
I have looked at the [Google JSON style guide](http://google-styleguide.googlecode.com/svn/trunk/jsoncstyleguide.xml?showone=error#error), and they also don't use any error codes in their responses. What they _do_ have though, is a [list of errors](http://google-styleguide.googlecode.com/svn/trunk/jsonc

[2015-09-17 15:49] sgjesse commented on #63
That looks like the right thing to do. This is what the Google REST APIs
are following, e.g.
https://cloud.google.com/storage/docs/json_api/v1/status-codes.

On Thu, Sep 17, 2015 at 5:43 PM, Matias Meno <notifications@github.com>
wrote:

[2015-09-17 15:53] enyo commented on #63
This raises another point though: should the RPC library try to follow the Google JSON style guide completely? If so, there is a lack of a "default" message or mechanism that helps in following the spec. Right now it's mostly "just return the object you want" and you need to take care of following the style guide yourself.

[2015-09-17 16:06] enyo commented on #63
And either I don't quite get the style guide, or it seems that the storage API doesn't follow it neither. The guide suggests, that all content goes into into `data` like:

[code]

And if both, `data` and `error ` exist, then `data` should be ignored. For a list of items it should be:

[code]

Soo... I don't know how seriously this style guide should be taken?

[2015-09-18 06:50] sgjesse commented on #63
Looking at the sample from the style guide:

{
  "apiVersion": "2.0",
  "error": {
    "code": 404,
    "message": "File Not Found",
    "errors": [{
      "domain": "Calendar",
      "reason": "ResourceNotFoundException",
      "message": "File Not Found
    }]
  }
}

and the sample from the storage API:

{
"error": {
 "errors": [
  {
   "domain": "global",
   "reason": "required",
   "message":

[2015-09-18 08:21] wibling commented on #63
@enyo we should try to follow the style guide as much as possible, but I think having more information in e.g. an error is okay. The client can always ignore fields it doesn't know.

Using the error field sounds like a good idea to me.

[2015-09-18 11:01] enyo commented on #63
I was talking about success messages. The style guide says that you either have
[code]
or
[code]
depending on whether the request had an error or was successful.
In case of an error the spec is followed properly, but in case of a successful request it is not.

So in case of errors it's clear how to do it IMO: use the `error` field, with and additional `errors` subfield for more information. That f

[2015-09-18 16:05] enyo commented on #63
Apart from the `data` fields in data messages, do you both agree on using `{"error": { "errors": []}}` to send additional error information, like error codes @wibling & @sgjesse? If so I can create a PR.

[2015-09-22 00:09] FaisalAbid commented on #57
Update on this, been super busy with work, but it's coming!

[2015-09-22 00:11] FaisalAbid commented on #31
Update on this, been super busy with work, but it's coming!

[2015-10-09 12:57] wibling opened #70 "Change the method invocation to support a method returning NOT_MODIFIED"
Instead of checking for IF_MODIFIED_SINCE at the end of method invocation we should make it simple for a method to do the check itself to avoid the method computing a response which is thrown away by the IF_MODIFIED_SINCE check.

[2015-10-09 22:45] FaisalAbid opened #71 "If Access-Control-Origin is set outside of RPC, then RPC appends * to the header, causing it to fail"
If Access-Control-Origin is set outside of RPC, then RPC appends \* to the header, causing it to fail, since Access-Control-Origin can only take one value.

i.e if I do

httprequest.response.headers.set("Access-Control-Origin","faisalabid.com")
rpc.httpRequestHandler(httprequest)

Chrome will give me an error saying Access-Control-Origin can only have one value, faisalabid.com, *

[2015-10-27 07:55] fschuetz04 opened #72 "Get the connectionInfo of a request"
The `HttpRequest` object has the property `connectionInfo` with data like the remote IP adress, but I can't find a way to get this info in an RPC method - being not accessible via `context`.

Do you think this could be changed?

[2015-10-28 11:43] Kleak commented on #59
Is this always a bug ? because i have try to reproduce the error but without success...

[2015-11-09 11:43] Janamou opened #74 "Problem with ApiResource: For the generator to work the class must have a working default constructor taking no arguments."
I have a problem with generating of client code while using `@ApiResource` in my `DevFestApi` class.

My `lib/server/api.dart`:

[code]

and then run `pub global run rpc:generate client -i lib/server/api.dart -o lib/client`

I am not able to get the client code generated because I get this error:
`Failed to create an instance of the API class 'DevFestApi'. For the generator to work the class must

[2015-11-10 18:02] Crafter6432 opened #75 "Blob upload dosn't work"
Hello,

I tried to use the new MediaMessage but that only seems to work from server to client,
if the client uploads binary data the Apihandler always gets MediaMessage.bytes = null.

Request:
https://gist.github.com/Crafter6432/1c0f5948704212d40913

Relevant code:
https://gist.github.com/Crafter6432/9f14529346239fee864e

rpc version: 0.5.5

[2015-11-13 14:05] inc-cloitsch opened #76 "allow setting of default type for integer in discovery API"
Currently the default type when generating discovery APIs for integers is `integer` which is 32bit.  This is also verified when building a response [1].
However 32bit is pretty small and a typical frontend in javascript or dart inside a browser would support integers up to 53bit (which at least in our case is always big enough).

IMO the most elegant solution would use a default type for integers

[2015-11-17 14:39] inc-cloitsch commented on #65
Line has changed to [39](https://github.com/dart-lang/rpc/blob/ffdc8ee3ee777f3ea7972280fd2f0d96d6213b38/lib/src/errors.dart#L39),  but bug is still present.

Please allow Errors as well.

FYI the ApplicationError is instantiated [here](https://github.com/dart-lang/rpc/blob/ffdc8ee3ee777f3ea7972280fd2f0d96d6213b38/lib%2Fsrc%2Fconfig%2Fmethod.dart#L163)

[2015-11-20 18:21] #74 closed

[2015-11-20 18:22] Janamou commented on #74
Works for me now :-)

[2015-12-07 09:12] deftomat opened #77 "Enormous memory footprint, when client has a lot of pending requests."
We have an application, which in some circumstances store messages in queue (paused stream) and send them all later. For example, when target is down and our application waiting for new connection.

However, if a lot of messages are sended by [sendRequest()](https://github.com/dart-lang/json_rpc_2/blob/master/lib/src/client.dart#L94) at the same time, than the memory footprint of application is en

[2015-12-10 16:16] mkustermann commented on #77
Hi @deftomat. The links methods you are referring to belong to [package:json_rpc_2](https://github.com/dart-lang/json_rpc_2). Is this maybe the wrong issue tracker?

cc @nex3

[2015-12-10 16:20] deftomat commented on #77
Ooo, you're right. My bad. I'm sorry...

[2015-12-10 16:20] #77 closed

[2015-12-16 15:13] ircecho2 opened #78 "x-http-method-override is not honored"
If have an API method that is annotated as follows

 @ApiMethod(
      path: 'android/orders/{orderId}',
      method: 'PATCH')

and executed with this request:

`POST /api/ma_api/v2/android/orders/519?alt=json HTTP/1.1
Accept-Encoding: gzip
Authorization: ...
User-Agent: Google-API-Java-Client Google-HTTP-Java-Client/1.21.0 (gzip)
x-http-method-override: PATCH
Content-Type: application/json; char

[2016-01-03 06:24] devoncarew opened #79 "issue when run in checked mode"
When run in checked mode, `rpc` will catch any exception thrown in a request handler. It then wraps that exception with an `ApplicationError`. `ApplicationError` is typed to take an `Exception`, but the object thrown by the request handlers are not guaranteed to be subclasses of `Exception`.

[code]

[2016-01-04 09:06] #79 closed

[2016-01-11 16:26] enyo commented on #65
This is closed by 2feb5c6591c72640c4b79d7ad71ca87ad88b5972 (which has not been released yet)

[2016-01-11 16:26] #65 closed

[2016-01-11 19:02] enyo opened #81 "Using an @ character in a path parameter breaks the method"
If I'm not mistaken, a `@` character is a valid character inside a URL path segment. That's also the reason, why it is _not_ encoded when invoking the method.

But when the request is made, the server returns: [`No method found matching HTTP method: [...]`](https://github.com/dart-lang/rpc/blob/master/lib/src/config/api.dart#L45)

This happens, because the [`method.matches`](https://github.com/dar

[2016-01-12 14:32] #63 closed

[2016-01-15 20:38] tristancaron commented on #75
Hello,

Thank you for your return.

It's actually because you are not sending a MediaMessage, but a binary, or whatever else.

A MediaMessage has fields such as bytes, contentType, etc.

If you want handle your file, you must provide a structure.

[code]

The curl command which you allow to do that is
`curl -F myFile=@/path/to/my_file.txt http://localhost:8080/cloud/v1/file/abcdef`

I think we cou

[2016-01-17 18:41] jorishermans opened #83 "error when doing pub build"
When I use angular2 in combination with rpc I got following error:

packages\rpc\src\parser.dart
    'case' expression type 'TypeImpl' overrides 'operator =='
         case int:
                 ^^^

[2016-01-29 17:29] enyo commented on #72
I have the same question / request. Is there a way of getting client information in an RPC method?

[2016-02-03 00:22] mastodon0 opened #84 "Code generation no longer working with package imports in Dart 1.14"
After upgrading to Dart 1.14 I tried to generate my client-code like I always did before:
```pub global run rpc:generate client -i lib/server/piratesapi.dart -o lib/client```
and got this error:
```Load Error for "package:shelf_auth/shelf_auth.dart": No mapping for 'shelf_auth' package when resolving 'package:shelf_auth/shelf_auth.dart'.```

shelf_auth is a package that is imported in my api file

[2016-02-03 08:56] zoechi commented on #84
I don't use the rpc package myself, therefore just a guess.
If you need to add it to your project as dependency/dev_dependency you could try to run it without `global` (just `pub run rpc:generate ...).

[2016-02-03 21:50] mastodon0 commented on #84
Gread idea, thank you!
An additional dev_dependency wasn't even needed because the project wouldn't work without the rpc dependency.

[2016-02-03 21:50] #84 closed

[2016-02-04 17:00] giorgiofran opened #85 "Problem passing a custom Header with CORS"
I was trying to pass a custom header to a CORS POST request, but I had some problems.
I set the following header inside my called apiMethod:
`context.responseHeaders['Access-Control-Allow-Headers'] = 'origin, x-requested-with, content-type, accept, my-header';`
but I still had an error.

Then I discovered that, when CORS is set, the browser first execute an OPTIONS request and then a POST.
The cod

[2016-02-14 16:00] fschuetz04 commented on #72
I searched through the code and found out that only a little change is necessary, but my solution is very dirty. Maybe I'll create a pull request.

[2016-02-25 21:21] rahulakash commented on #44
Getting the same error, any solutions?

[2016-02-26 13:49] enyo opened #86 "Please publish the latest version"
2feb5c6591c72640c4b79d7ad71ca87ad88b5972 fixed the issue that every exception will be handled properly. It would be nice if this change would be published to pub.

Thanks!

[2016-02-26 21:16] rahulakash commented on #75
Hello,

Thank you for your contribution here. I am new to Dart RPC, I am trying to create an API method where I can handle a POST HttpRequest from a client which sends text/xml file, and store the file on the server. But I am not completely sure how to handle file uploads with RPC. It would be really helpful if you could guide me on this and point me to some sample codes. Your assistance is highly

[2016-02-29 07:57] #86 closed

[2016-03-11 22:21] PaulWoitaschek commented on #81
Same for `=`. Any news on this?

[2016-03-16 15:10] enyo commented on #81
@mkustermann just pointed out that:

1. The paths defined by `ApiMethod` follow the [URI Template spec](https://tools.ietf.org/html/rfc6570)
2. [Section  3.2.2](https://tools.ietf.org/html/rfc6570#section-3.2.2) defines that each character in a variable must be in the unreserved character set
3. And the [unreserved characters](https://tools.ietf.org/html/rfc6570#section-1.5) are `ALPHA / DIGIT / "

[2016-03-16 15:10] #81 closed

[2016-03-16 17:24] enyo commented on #31
@FaisalAbid any update? :)

[2016-03-23 15:13] fallenreaper opened #87 "RPC Encoding map error."
I posted it on StackOverflow.

Essentially, it comes down to the method signature's required return type being a:  Map<String,Object> doesnt parse as it should and resolved it entirely by setting it to Map<String,String> despite the fact that it was actually (and now successfully) returning a jsonified Map object from the RPC server to the client.

http://stackoverflow.com/questions/36163029/my-rc

[2016-04-05 18:19] enyo opened #88 "RPC client generation doesn't work with dart >=1.14"
When trying to build a library with dart `>= 1.14` that imports a library in the same package with `package:` the builder fails. If the import is replaced with a local import it works.

I have built a small demo app that shows the problem: https://github.com/enyo/rpc-error

This currently makes it impossible to build an rpc client, without changing all imports to relative imports (which is discour

[2016-04-06 08:46] mkustermann commented on #88
Thanks for the reproduction.

The way `package:rpc` generates a json description of your API (in the form of a discovery document) is that it makes a small temporary helper dart script (which is launched via a `Isolate.spawnUri`) which imports your code (in this case `lib/api.dart`) and uses `dart:mirrors` to get all classes with an `@ApiClass()` annotation. From there finds all of your schema/dat

[2016-04-06 12:28] enyo commented on #88
You're our hero! :heart_eyes:

[2016-04-13 14:47] enyo commented on #72
In the end I created a zone in which every http request is running, and am storing the initial HttpRequest in a zone variable. This works well.

[2016-04-14 23:36] starlys opened #90 "Honor superclass in result objects"
It would be helpful to have API methods like this:
* CustomerInfo getCustomer(...)
* VendorInfo getVendor(...)

where CustomerInfo and VendorInfo both derive from BaseInfo.

Currently if BaseInfo declares some properties, and the API method sets them and returns an instance of VendorInfo, those properties will be ignored. Only the properties declared directly in VendorInfo are serialized into the

[2016-04-16 18:27] devoncarew opened #91 "rpc deps are pinned to old versions"
The deps of rpc are pinned to older versions. `rpc` is in use by several other projects; the older deps mean that they are selecting older package versions when running `pub get` / `pub upgrade`, and tihs increases the risk of version lock when one of the other transitive dependencies requires a version newer then one that rpc supports.

[2016-04-27 13:09] RdeWilde commented on #31
Maybe a small POC so others can add to it?

[2016-04-27 13:10] RdeWilde commented on #57
Can you push the WIP to a seperate branch maybe?

[2016-05-17 16:47] sanmadjack opened #92 "Need way to send a 301 response too the client"
I think I can manually construct a response, but I was hoping for a standardized way to handle sending redirects to the client.

[2016-06-24 19:37] Kleak commented on #91
Upgrade version could be cool but also migrate unittest to test an rewrite some test in order to use `pub run test`

[2016-06-28 15:50] jkriesel commented on #29
The problem with this is that you can't use the await keyword.  I have an api method that does a request to a separate back-end server (i.e. elastic search) and would like to wait for the response before returning.  Is there a work around for this?

[2016-06-28 17:17] Kleak commented on #29
you can use await just add async on the function declaration
[code]

[2016-06-28 20:50] jkriesel commented on #29
How does this work from the client?  You can't really have a Future of a Future.. can you?

[2016-06-28 21:01] Kleak commented on #29
on the client side there is no difference.

[2016-06-28 21:18] jkriesel commented on #29
Within the client api, the client api returns a future already.  You'd end up with Future<Future<TestResponse>>.

[2016-06-29 06:26] Kleak commented on #29
No just a future

[2016-07-14 15:35] enyo commented on #31
The first great addition would be to allow scopes to be defined on the `ApiMethod`. There wouldn't need to be any additional handling since then, at least, we could write middleware that does authentication or checking for given scopes.

[2016-07-21 15:43] rahulakash commented on #57
@wibling : Is there any update on this? It would be really awesome to have the plugin support for RPC similar to [Redstone Plugin API](http://redstonedart.org/doc/Plugin-API/). This support will be a great add on for RPC moving forward. Thanks in advance.

[2016-07-21 15:55] platelk commented on #85
Another way to do this is to use shelf have http server and manually handle OPTIONS and CORS header, here is a package for shelf : https://pub.dartlang.org/packages/shelf_cors

[2016-08-03 05:10] damondouglas opened #93 "Securing ApiMethod with OAuth"
Is there a way to configure OAuth scopes and ClientIds for `ApiMethod` such as is done with [golang](https://github.com/GoogleCloudPlatform/go-endpoints/blob/master/endpoints/service.go#L100) and [python](https://cloud.google.com/appengine/docs/python/endpoints/getstarted/backend/auth).  I realize `rpc` isn't specifically an appengine endpoint library but was wondering if there was a similar way t

[2016-08-08 02:34] #93 closed

[2016-08-22 04:13] borysn opened #94 "rpc:generate does nothing?"
Hey guys!

New to dart here. Keep running into odd ball issues. I'm probably doing something wrong here.

I ran through the pirates-nest tutorial, and everything worked great. Got it going. Seems simple enough to understand and work with.

I'm now trying to generate my own client api, and the command `pub global run rpc:generate client -i lib/server/apis/authapiart -o lib/client` just hangs. no er

[2016-08-23 23:00] jkriesel opened #95 "Asset Error: Asset [path] not found"
I get an asset error: asset [path] not found when trying to dart rpc with google cloud's app engine.  The error is followed by a stack trace.  Oddly enough, the corresponding api call actually runs, but it does populate the log file.

Is there any way to fix this?

[2016-08-26 09:07] borysn commented on #94
still having a lot of trouble with generating a client api. I ran through the toyshop on examples, it all worked fine there, but I don't see any hints as too what I'm missing.

Here's what I'm trying now

[code]

[2016-08-29 01:51] borysn commented on #94
the question was already asked and answered in another issue. The answer that worked for me can be found [here](https://github.com/dart-lang/rpc/issues/88#issuecomment-206225510)

[2016-08-29 01:52] #94 closed

[2016-09-02 18:38] sanmadjack commented on #64
This issue is still occuring, and the pull request still hasn't been merged. Will this be resolved soon, or should I start wrapping everything in url decodes?

[2016-09-03 06:41] unco-games opened #96 "Fix JSON serialization for response complex objects"
Hello!

I'm trying to create API-server for my project and use inheritance for different responses. But I discovered that json-serialisation doesn't work for complex objects.

class BaseResponse {
String text  = 'Base text';
  BaseResponse();
}

class SignUpResponse extends BaseResponse {
  SignUpResponse();
}

@ApiMethod(method: 'POST', path: 'sign_up')
  SignUpResponse signUp(SignUpRequest reque

[2016-09-05 07:00] avoivo opened #97 "Upgrade gcloud dependency to 0.3.0"
Gcloud package recently released 0.3.0 adding support for latest google apis. In a existing project of mine that uses both rpc and gcloud, i changed the gcloud dependency to version 0.3.0 and i got the following error.
[code]

Are there any suggestions or workarounds?

[2016-09-05 08:14] zoechi commented on #97
You can use `dependency_overrides:` to unblock you until an update is published.

[2016-09-05 08:16] avoivo commented on #97
Thanx @zoechi

[2016-09-05 14:14] #64 closed

[2016-09-05 14:29] mkustermann commented on #97
I've just published a new version which widens several dependency constraints, including the one for `package:gcloud`.

[2016-09-05 14:29] #97 closed

[2016-09-05 14:31] mkustermann commented on #91
We've migraded from `package:unittest` to `package:test` and widened several constraints.

[2016-09-05 14:31] #91 closed

[2016-09-08 01:39] zakharsk opened #98 "Add 'path' parameter for ApiResource"
Or flag 'add_name_to_path'.

I`t very logical create path for resources of Api.
# Actual:

Resource
@ApiResource(name: 'User')

Methods
- @ApiMethod(name: 'Create', path: 'user/create')
- @ApiMethod(name: 'Delete', path: 'user/delete')

URIs
- server:port/api_name/api_version/user/create
- server:port/api_name/api_version/user/delete
# Expected

Resource
@ApiResource(name: 'User', path: 'user')

M

[2016-09-08 20:39] jkriesel opened #99 "pub run rpc:generate client fails silently"
Is there a way to generate an error or understand why "pub run rpc:generate client [input] [output]" fails?  For some reason this stopped working, but I can't tell if it's an issue with the recent update or a change that I have made in my code.

As it stands to today, it just runs forever and never fails.

[2016-09-08 21:36] jkriesel commented on #99
One approach to resolve this would be turn this call `var docsWithImports = await generator.generateDiscoveryWithImports();` into returning a future and handling both the complete and completeError events.

Are there any objections to this approach?  I'll be happy to submit the code changes if there are no objections.

[2016-09-12 22:26] seanmccleary commented on #90
I agree that this would be very useful.  Especially considering that many applications may have model classes with common attributes, such as "id" and "createdAt" and "updatedAt", etc.  Being able to house these in a superclass (or mixin class) would be much nicer than repeating them on every class.

I've created a branch that does just this.  I haven't tested it.  Check it out at your own peril:

[2016-09-12 22:27] seanmccleary commented on #96
I agree that this would be very useful.  There's already an open issue for this (with a branch illustrating the requested behavior) here:

https://github.com/dart-lang/rpc/issues/90

[2016-09-14 10:16] mkustermann commented on #99
It is not entirely clear to me what the issue here is, but I found that the package did not surface errors correctly to the user (it rather blocks forever).

I've a CL out which should fix this part: https://codereview.chromium.org/2338233002

If this does not fix the original issue, I would like to ask you for some help reproducing this issue.

[2016-09-14 10:43] mkustermann commented on #99
The CL has landed.

@jkriesel It would be great if you could report back if you get an error message now.

[2016-09-15 20:45] jkriesel commented on #99
Thank you!  That does resolve the issue.

[2016-09-15 20:45] #99 closed

[2016-09-25 14:43] seanmccleary opened #100 "Request: Allow constructors with parameters"
The requirement that classes have a default constructor with no arguments makes it difficult to enforce certain invariants in those classes.

For example, if it's a guarantee in your application that your "User" class will always have an attribute called "emailAddress" which is set, then it shouldn't be possible to construct a User without the email address.  The constructor should look something

[2016-09-28 15:35] xavierhainaux opened #101 "Support --no-packages-dir"
When I run `pub get --no-packages-dir` and then `pub run rpc:generate discovery -i lib/server.dart`.
I get this error:
`Please run 'pub get' in your API package before running the generator.`

It seems there is a check for the `packages/` subfolders in the class ClientApiGenerator. If I manually remove the check in the code everything seems fine.

[2016-10-10 13:09] mkustermann commented on #96
@seanmccleary has added support for including fields in superclass in serialization/deserialization.

Since this repo issue was about this, I'll go ahead and close this bug.

[2016-10-10 13:09] #96 closed

[2016-10-10 13:13] mkustermann commented on #90
@seanmccleary Provided and opt-in solution vi:
[code]

So I'll go ahead and close this issue.

Though it might make sense to note here, that this is not the same as real polymorphism. Meaning that if an api method is declared as `Future<Info> getInfo()` it cannot return subclasses of `Info` AFAIK.

[2016-10-10 13:13] #90 closed

[2016-10-14 18:23] jodinathan opened #103 "extended properties are not being processed"
Hi,

``
class Father {
  String name;
}

class Son extends father {
  String middleName;
}

//
@ApiMethod(method: 'GET', path: 'view')
Future<Son> view() async {
  return new Son()
    ..name = 'First'
    ..middleName = 'Second';
}
``

localhost/main/view does't print the property name from the father, only middleName gets printed within the json response.

[2016-10-14 18:26] jodinathan commented on #103
sorry,

just found an issue
https://github.com/dart-lang/rpc/issues/90

I'll try @ApiMessage(includeSuper: true)

thanks

[2016-10-14 18:26] #103 closed

[2016-10-14 18:29] jodinathan commented on #90
I guess this is not the very best solution, since models can be in another library (mine are).
I will have to import the rpc package in my model project just for that.

[2016-10-14 18:52] seanmccleary commented on #90
@jodinathan this is true.  I considered that also, but given that the @ApiProperty annotation has already set the precedent, I didn't sweat it.

[2016-10-14 19:01] jodinathan commented on #90
@seanmccleary, in my case, the @ApiProperty aren't that useful because my models need more complex validations, like "the document_id is required if the birthday is greater than 1998" for example.
So I will have an internal validation system, which will be used at the server level and also the frontend level, since we will use Dart at both sides.
But got your point, no need to stress about it I gu

[2016-10-18 08:51] alextekartik commented on #101
This is definitely now a big issue, now than dart 1.20 is out with no symlink by default. The workaround for now is to do `pub get --packages-dir` first in the server project

[2016-10-25 14:43] enyo commented on #101
Also having this problem. Any workarounds yet? Now that `1.20.1` is out, the default is to exclude the packages dir.

[2016-10-25 14:48] alextekartik commented on #101
Yes that's painful. In my script for now I explicitly call `pub get --packages-dir` in the target package before calling `generate`

[2016-11-11 08:04] Sgoettschkes commented on #61
I am trying to work around this issue. I have a `Client` which extends the `http.BrowserClient` and I am trying to unset the headers:

[code]

The `Authorization` header gets set correctly but the other three are not overwritten. I am not sure what I'm doing wrong?

[2016-11-11 10:00] mkustermann commented on #61
@Sgoettschkes The issue might be that the entry is still in the map, since setting the value to `null` doesn't remove the entry from the map:

[code]
will print
[code]

[2016-11-11 20:12] Sgoettschkes commented on #61
@mkustermann And you save me again :) Using `remove` works, thanks!

[2016-11-15 11:17] artem-malko commented on #31
Hello) Any updates? @FaisalAbid

[2017-01-08 16:38] patricklam commented on #83
I found that importing rpc.dart in my messages.dart file caused that compile error; omitting it makes everything compile.

[2017-02-18 16:05] hermanbergwerf opened #107 "Allow custom status codes"
I would like to add custom HTTP status codes to my responses. E.g. 201 Created when the user POSTs data which is then inserted into the database.

[2017-05-03 07:42] lrhn opened #109 "Better handling of query parameter names with `.` in them."
See: http://dartbug.com/29520 or http://stackoverflow.com/questions/43729880 for context.

If a query parameter contains a `.`, the `Symbol` constructor will accept it (because `#foo.bar` is a valid symbol that can represent a library name), but it won't match any *parameter* name.
It seems some support for this case is needed.

[2017-05-15 05:25] #72 closed

[2017-05-25 09:27] avoivo opened #110 "Post method throws when setting a num value with no precision on a property of type double."
Hello, i have the following api.

[code]

When i post with body  `{"value": 1.0 }` , everything works fine but when i post with body `{"value": 1 }`  the reponse is of status 400 with the following body.
[code]

I am not sure if this is a bug or not.  Nevertheless i cannot find a workaround when calling the post method from an angular typescript SPA.

[2017-07-13 12:22] enyo commented on #101
We're now at dart version `1.24.x` and I'm afraid that the `--packages-dir` will be removed soon and we won't be able to upgrade because of this dependency. Is there any news regarding this issue or plans on how to fix it?

[2017-07-13 12:23] enyo commented on #101
@mkustermann I guess that you would know?

[2017-07-13 12:38] sanmadjack commented on #101
I've got a workaround, if you enable the dsicovery document generation on your RPC server you can just download the JSON from your server. This doesn't lend well to continuous integration, but it gets the job done until they've got this worked out. Check the readme file, search for "ApiServer.enableDiscoveryApi()".

[2017-07-13 12:39] enyo commented on #101
Thanks @sanmadjack. Unfortunately we really need it in our CI, so we can't go this route.

[2017-07-13 12:41] sanmadjack commented on #101
You can, just in your CI environment start the server (or start a subset of the server with the generator enabled), and then use curl (or platform equivalent) to fetch the json file, then continue processing as normal.

[2017-07-13 14:47] xavierhainaux commented on #101
For info, I worked around this bug simply by forking the repo and remove the pub check:

https://github.com/xavierhainaux/rpc/commit/bcd774caa31cf6d91a6f2a54243d86a971935ca4

[2017-07-13 15:22] sanmadjack commented on #101
@xavierhainaux Is it a good enough change for a pull request?

[2017-07-13 15:25] xavierhainaux commented on #101
@sanmadjack I don't know, it works for my usage.
I guess there is some limitation or the check would not have been there.

[2017-07-14 09:28] jakobr-google commented on #101
It looks like this was already fixed, in https://github.com/dart-lang/rpc/commit/c658881841fe311ebb0629276cdec53b91a8c847.

I think we just need to push a new release. In the meantime, you should be able to add a dependency override to get the latest code from github (https://www.dartlang.org/tools/pub/dependencies#git-packages):
[code]

[2017-10-21 12:26] Kleak opened #111 "generate dicovery doesn't work"
I trying to generate the discovery file so here is the command i launch :

`pub run rpc:generate discovery -a /api -p 8080 -i lib/src/backend/apis/auth.dart`

but the result is
`Please run 'pub get' in your API package before running the generator.`

Problem i have already do `pub get`

[2017-11-11 00:14] sclee15 commented on #111
I have the same issue.

[2017-11-11 10:32] jakobr-google commented on #111
Looks like a dup of issue #101.

[2017-11-11 10:32] #111 closed

[2017-11-11 10:32] jakobr-google commented on #101
@mkustermann could you publish a new release, please?

[2017-11-24 12:00] mkustermann commented on #101
Sorry for the delay, I've published a new version in 15cd18042804a014fdcbad5456c31038db9ca431. Does this fix the issues you're seeing?

[2018-02-17 01:01] Aldo111 commented on #88
Could the readme be updated with this (to use pub run instead of pub global run) as I struggled with this issue for a bit before I checked here and found this thread :)

[2018-02-23 09:15] #101 closed

[2018-02-23 09:17] #28 closed

[2018-03-12 10:40] whesse opened #114 "Test failing on 64-bit int changes, formatting changes"
Three tests are failing, when the SDK used to test rpc is updated to the latest.
Two of them are failing because of "invalid 64-bit int" issues.  The handling of ints in Dart has changed to 64-bit ints, I believe.
The third is failing because the formatting of generated code changed: the line breaks have moved.
It looks like the expected text needs to be changed.

A builder showing the 3 failures

[2018-03-15 02:05] supermuka opened #115 "rpc:generate client error: Could not import... No mapping for..."
The following error occurs when the Stubs are generated. I am using Windows OS, maybe that the problem is the inveted bar on path, but I dont sure!

This error occurs for all packages imported into file that I have `@ApiClass()`.

[2018-03-15 12:28] supermuka commented on #115
I removed the `global` on command line like `pub run rpc:generate client  -i lib\auge_api.dart -o lib\client` and works.

[2018-03-15 12:28] #115 closed

[2018-03-16 18:47] supermuka commented on #61
I am using the Stubs client generated with command `pub run rpc:generate client -i lib/server/api.dart -o lib/client` and the error commented in this issue is occuring:

![image](https://user-images.githubusercontent.com/8823569/37538896-d1e6ff86-2930-11e8-8427-0ce045d75162.png)

Is there a workaround?

[2018-03-19 08:24] mkustermann commented on #61
The workaround is is basically described [above](https://github.com/dart-lang/rpc/issues/61#issuecomment-259902688): Wrap the underyling browser-based http client and remove the 2 headers before sending it further.

For background knowledge: The generated api client libraries try to supply as much information to the underlying `http.Client` as they can, which includes the `user-agent` and the `con

[2018-03-26 13:03] binary132 commented on #62
Has this been revisited?  I'd like to consider using Dart for client-side work, but my clients must support protobuf grpc gen.

[2018-03-26 13:07] Kleak commented on #62
You can already use generated grpc models with dart client with whatever server language.
You can use the fromJson ctor of the generated model.
Look at the [grpc-dart](https://github.com/grpc/grpc-dart) repos and more precisely to this like on your [model](https://github.com/grpc/grpc-dart/blob/master/example/route_guide/lib/src/generated/route_guide.pb.dart#L21).

[2018-03-26 13:18] binary132 commented on #62
I see.  Thanks for clarifying!

[2018-04-18 13:16] supermuka opened #116 "RPC client file is generated without underline."
Environment:

RPC: 0.5.8
DART SDK: 2.0.0-dev.48.0
SO: Windows

When it is ran `pub run rpc:generate client -i lib/server/file_api.dart -o lib/client -p 8090`, the output client file is generated without underline, like `fileapi.dart`. The expectation was `file_api.dart` for client stubs.

[2018-04-20 02:30] supermuka opened #117 "RPC generate invert param order on client stub"
OS: Windows
RPC: 0.5.8
Dart SDK Dev 0.49

**Server Method**

[code]

**Generated Client Stub**

`async.Future createWorkItem(WorkItem request, core.String initiativeId) {  ... }`

[2018-04-27 18:49] giorigor commented on #87
One year later, I'm having the same problem. RPC does not like `Object`. It alerts when you try to use `Map<dynamic,dynamic>` or `Map<String,dynamic>`, but it doesn't say anything with `Map<String,Object>`. It kinda gives up on generic Objects, and just ignores them when converting to the "JSON-esque" format.

Example:
[code]

But the response is

[code]

Is there a recommended way to send generic

[2018-04-27 19:31] fallenreaper commented on #87
It really depends about how you and your team which to process content from your servers.  Ultimately, we ended up having our results have a repsonse that contained a map of information.  Success, Message, and Data..  We would then use that as the envelope which encapsulates the data we are sending from the server to the client and processed accordingly.  Our service files will process and handle

[2018-04-27 20:04] giorigor commented on #87
Sadly RPC does not allow `dynamic` data inside the response. Your example would throw an exception like
[code]

But anyway, we just tried storing our `data` in a String variable (instead of dynamic), by JSON.encoding everything and creating `.toJSON()` methods like you just told us. It works, but we need to recursively keep JSON.decoding our structures, since decoding only the top-most `data` stru

[2018-06-14 16:54] enyo opened #119 "Dart 2.0"
In order to properly migrate to Dart 2.0 I updated my `gcloud` dependency to `0.5.0` which no conflicts with `rpc`. Could you please upgrade your dependency. Thanks

[2018-06-16 19:57] supermuka opened #121 "Exception is thrown with latest dev sdk: type 'Future<dynamic>' is not a subtype of type 'FutureOr ...'"
After upgrading Dart to 2.0.0-dev.57.0, the following exception is been thrown on the browser console:

It is being use `rpc package` (last version) to implement REST APIs and this exception occurs into client-side stub file generated by _**rpc tool**_.

Note: `UserProfileOrganization` is a _message class_ (my code) used to implement the APIs with rpc.

To solve this problem, the use of _Dart2js_

[2018-06-20 14:41] enyo commented on #121
I just ran into this problem. Is there a solution yet? Using `dart2js` is not really a solution for development.

[2018-06-20 15:02] enyo commented on #121
I don't quite get the problem either... The generated code in question (if I'm not mistaken) is this:

[code]

where `oAuthAccounts` is of type `core.List<OAuthAccount>`. Why is that not working?

[2018-06-20 15:17] mkustermann commented on #121
So this is a Dart 2.0 runtime type error: a `List<dynamic>` is not a subtype of `List<OAuthAccount>`.

We have updated `package:discoveryapis_generator` to produce valid Dart 2.0 code. Could you verify that after a `pub upgrade`, your `.packages` file contains
[code]

If not, there might be some 3rd party dependency (or your Dart SDK) requiring a lower version of `package:discoveryapis_generator`,

[2018-06-21 12:08] enyo commented on #121
Thanks @mkustermann ! You're right. The reason we got the old version, is that I forgot that `pub run rpc:generate` uses the globally activated `discoveryapis_generator` so I had to run `pub global activate discoveryapis_generator` to get the latest version.

Is there a way to get `rpc:generate` to run with the local package dependency instead of the globally activated one? This would prevent such

[2018-06-21 12:20] mkustermann commented on #121
This is really a question for the pub team, but so far I had the impression that:

* You use a local version via
[code]

* You use a global version via
[code]

[2018-06-22 10:36] enyo commented on #121
Yes, but `pub run rpc:generate` seems to only use the globally activated `discoveryapis_generator` and not the locally installed one. That's why I thought it might be `rpc` specific.

[2018-06-22 12:43] mkustermann commented on #121
Aha. So you're saying `pub run rpc:generate` does not use the `discoveryapis_generator` specified in the `.packages` file but rather the one which is globally activated?

If that's the case, could you please file a bug with pub? (cc @nex3 )

[2018-06-22 14:42] supermuka commented on #121
An addendum on the errors considering _SDK 2.0.0-dev.64.1_  and _rpc package_ 0.5.10 (today are the last version).

When I try to generate the client side APIs, a new error is occurring:

[2018-06-22 14:47] enyo commented on #121
@supermuka for me it's working fine now. I'm on `dev.63` though because `dev.64.1` had problems with globally installed packages. Try reverting to `dev.63` and see if that changes anything.

[2018-06-25 21:39] supermuka commented on #121
@enyo, for me works on `dev.63` too. But...

I think this package deserved more attention in its maintenance, focusing on new versions and suggestions for improvement. I say this because we can see many issues open, which worries me, because _this package is one of the most useful and nice things_ that the _Dart Team_ has already done to facilitate the implementation of RESTfull APIs. I would love

[2018-06-27 12:47] supermuka commented on #121
@mkustermann, on version SDK `dev.65` and `rpc package 0.5.10` when `pub run rpc:generate` is ran, the following error continue being thrown:

If there is a suggested workaround, I'd be grateful!

Note: because of other package dependencies, it is necessary to use the latest version of the SDK.

[2018-07-02 12:11] supermuka commented on #121
Changed the title for this issue, considering that last version of the SDK thrown exception to Dart2js too.

[2018-07-03 09:10] mkustermann commented on #121
I've now looked at this and it appears that, after fixing some Dart 2.0 issues, it is blocked on the fact that `Isolate.spawnUri` has a bug in the Dart 2.0 version, where it doesn't support spawning from http urls anymore.

So this is blocked on https://github.com/dart-lang/sdk/issues/33741

[2018-07-05 10:06] NTMS2017 opened #122 "Help Needed"
I am using Dart 2 and creating a Flutter Mobile App. I need a documentation, video, info how to set my own rest api using rpc. Showing me the starting point will be great.

I have Flutter Mobile App that will connect to "Dart RPC Rest API". Then "Dart RPC Rest API" will use dart.io to connect local network socket services. I am not be able to connect from Flutter Mobile App to local network socket

[2018-07-09 23:18] tensor-programming opened #123 "Issues compiling with Dev Sdk"
Currently on `2.0.0-dev.67.0` of the sdk.

A few type errors occur when trying to compile an RPC project.

Here are some of the common errors that seem to occur.
[code]

Seems like most of these errors are a result of the dart strong mode changes for 2.0.

[2018-07-12 09:59] mkustermann commented on #122
Our [README.md](https://github.com/dart-lang/rpc/blob/master/README.md) should contain detailed instructions on how to use `package:rpc`.

Your flutter app has all of `dart:io` available, so you can connect to any endpoint. If you have trouble using `dart:io` to connect to your local machine during development, you might need find `adb reverse` helpful.

[2018-07-12 09:59] #122 closed

[2018-07-12 17:16] jcollins-g commented on #123
This package in general seems not to be Dart 2 clean -- many analysis warnings and test failures on latest dev SDKs.  I'm looking into it since dartpad needs this package to keep working for the latest 2.0 dev SDKs, but someone more familiar with the package might get to it faster.

[2018-07-13 09:14] mkustermann commented on #123
Assigning to @jcollins-g, since you mentioned you're looking into it.

[2018-07-16 13:19] enyo commented on #123
Is there any update on this? Just ran into this problem, and wanted to know whether I should look into writing a hotfix myself or if a fixed version will be released soon. Thanks!

[2018-07-16 14:46] jcollins-g commented on #123
I am looking at it, but the problem is complex and I have limited time to spend on it, so I can't guarantee an ETA.

[2018-07-16 21:49] jcollins-g commented on #123
@enyo I am at or near the same place, though I've been working at it from getting the tests running:
https://github.com/dart-lang/rpc/tree/dart2-rpc

On that branch all the tests now pass that don't depend on spawning the isolate.  A fix for https://github.com/dart-lang/sdk/issues/33741 just landed for the SDK so it should be possible shortly to try making those tests run.

[2018-07-16 22:56] jcollins-g commented on #123
Another issue is that the uri package is not dart 2 clean.  Filed as google/uri.dart#32

[2018-07-17 10:44] enyo commented on #123
Ok, so basically, we need to wait for the next dart release?

[2018-07-17 16:19] jcollins-g commented on #123
Fortunately it was a short wait.  I think .69 has what we need to keep moving, will try to get going on that today.

[2018-07-17 17:22] jcollins-g commented on #123
Many of the things wrong in the tests post .69 have to do with integer math.

In order to continue to allow uint64 as a valid type and to not require BigInts everywhere an integer ApiProperty is declared, I think I can do one of three things:

1) Split uint64 out into a BigInt friendly ApiProperty and require all clients using uint64 to update their ApiProperty metadata.
2) Handle all integers bit

[2018-07-17 17:43] enyo commented on #123
I’m not sure I understand your proposal nr. 1. Can you elaborate on that?

Other than that, did you get the compiler to run again?

[2018-07-17 17:54] jcollins-g commented on #123
I'm still fleshing out what I'm trying to do with `#1` in a branch.  Basically, the end result of `#1` is if users are doing something with a uint64 type, they have to use BigInts to specify the min/max and values returned, and something will throw if they don't.  Exactly how to implement this I'm prototyping as we speak.  I think it may be possible to use dynamic for min/max value in ApiProperty

[2018-07-17 20:19] jcollins-g commented on #123
A lack of constant and literal BigInts is a problem.  I have a solution that at least runs and passes tests (require all 64 bit integer ApiProperty annotations to use string-representations), but is silly.

I'm hoping https://github.com/dart-lang/sdk/issues/33893 results in a better option.

[2018-07-17 23:02] jcollins-g commented on #123
The last update to the branch here seems to work (i.e. generator can run and produce something usable) in trivial cases:
https://github.com/dart-lang/rpc/tree/dart2-rpc

This includes the silly 64 bit integers as strings hack, which is actually nicer looking than what I was doing before.

Requires a uri.dart with:
https://github.com/google/uri.dart/pull/33

[2018-07-18 08:14] tensor-programming commented on #123
Thank you for looking into this.  Glad it seems to be in much better shape then before.

[2018-07-18 11:51] enyo commented on #123
@jcollins-g You accidentally checked in the uri depdency for `../uri`

[2018-07-18 15:13] jcollins-g commented on #123
@enyo I actually did that intentionally since at the time of writing there was no uri package with the necessary changes.  There will definitely be a cleanup pass of this branch before checking it in -- I am already noticing even more little bits of cruft that snuck in.

[2018-07-18 21:13] jcollins-g commented on #123
#124 is now ready for some more detailed comments, and especially for some real-world testing.  I'm noticing that there are some problems with different versions of clients and servers talking to each other that still need to be worked out.

[2018-07-19 07:30] mkustermann commented on #123
@jcollins-g Regarding the uint64 issue, I think I would favor the bigint solution, it will have optimized performance on the VM.

[2018-07-19 17:25] jcollins-g commented on #123
@mkustermann To be clear(er?), the underlying type of the integer properties as implemented is always either int or BigInt.  But the JSON representation has always been as Strings for these IIUC.  Now as well the min/max/default values in the `@ApiProperty` declarations are proposed to be Strings, because there are no BigInt literals or const BigInts (dart-lang/sdk#33893) and using Dart's ints can

[2018-07-25 15:45] #123 closed

[2018-07-25 15:55] jcollins-g commented on #121
Fixed in #124.

[2018-07-25 15:55] #121 closed

[2018-08-03 19:26] supermuka opened #128 "Error using rpc with shelf - Map<String, dynamic>' is not a subtype of type 'Map<String, String>"
Using **rpc** with **shelf** server an error is thrown because the headers are treat on different types in each package.

**rpc** we have  `Map<String, dynamic> headers`. See in [message.dart line 78](https://github.com/dart-lang/rpc/blob/fe4d8309ab2b7a16afad916e7d2a3a00d7c7c2cc/lib/src/message.dart#L78)
**shelf** we have `Map<String, String> headers`. See in [response.dart line 282](https://githu

[2018-08-03 20:17] supermuka opened #129 "Error on browser: type 'JSArray<UserProfileOrganization>' is not a subtype of type 'FutureOr<Null>'"
After upgrade, this error occurs on brower console:

Note: `UserProfileOrganization` is a message class of the API.

The packages were upgrade and the client APIs generated again.

Enviroment: (*)
Dart sdk 2.0.0-dev.69.5
rpc: 0.6.0-dev.1

(*) This implementation works on sdk 2.0.0-dev.63.0 + rpc 0.5.10

[2018-08-04 10:53] supermuka commented on #128
The work around that I found was to convert `dynamic` to `String` of the `Map` headers.

Below the code (###):

[code]

[2018-08-04 11:40] supermuka commented on #129
I found the problem.

A method interface in the application was defined to return a `Future`, but the `return` implemention does not returned the `Future`.

_it would be interesting if the compiler / analyzer alerted to this problem._

[2018-08-04 11:40] #129 closed

[2018-08-06 15:45] supermuka opened #130 "Dependencies need to be updated to SDK 2.0.0"
Using **_SDK 2.0.0_** and  **_rpc: ^0.6.0-dev.1_**, when it's ran the command `pub upgrade` the following error appears:

[2018-08-07 00:26] supermuka commented on #130
`discoveryapis_generator` package has been updated in 0.9.9 version.

But now it's necessary to update another dependency package: _**gcloud**_.

Error shown:

_Note:_ the title was changed to include other dependency errors.

[2018-08-08 00:48] supermuka commented on #130
**gcloud** package updated in rpc 0.6.0 (stable). Thanks Dart Team!

[2018-08-08 00:48] #130 closed

[2018-09-19 01:46] thumbert opened #132 "ApiMethod return List<Map<String,String>> and dart 2 error (too strict)"
Hi,

I'm trying to migrate my existing Dart 1 code to Dart 2.  I am running into an issue that I don't know how to solve.  My issue looks to be the same as #128.  But don't know how to fix it.

I have an rpc server with a mongo backend.  I have many routes where I return a query result from mongo as a List<Map<String,dynamic>>.  In Dart 1, it was enough to declare that the return of the method was

[2018-10-31 21:11] jcollins-g opened #133 "rpc package tests broken with "not a subtype" errors in 2.2+"
See dart-lang/sdk#35009.

[2018-11-02 02:07] supermuka commented on #133
Uff.. I was thinking that it was doing something wrong!

Using _rpc 0.6.0_ with _sdk 2.1.0-dev.8.0_ , in my code is thrown the following error:

With _sdk 2.0.0_ it works.

[2018-11-02 13:15] supermuka opened #134 "RPC doesn't work with Generic List<T> field into Message Class"
_SDK 2.0.0
RPC 0.6.0_

Considering the following classes:

[code]

The following error is thrown when _an instance_ of `GroupMessage` class defined with Generics is passed as a Request Param from Client to Server-Side on RPC and the RPC try to materialize an new instance on Server-Side from Json:

**NOTE 1**: This error occurs with SDK 2.0.0 + Generics. In SDK 2.1.0-dev.8.0 this error occurs using

[2018-11-02 15:51] jcollins-g commented on #133
@supermuka I suggest reverting to 2.1.0-dev.7.1 (that seems to still have the good behavior) if you need the 2.1 branch.  Hopefully the referenced SDK bug is getting enough attention, I'll keep advocating for it.  At the very least, if the rpc package itself is doing something wrong we need to know what it is so we can change it.

[2018-11-14 18:07] jcollins-g commented on #133
Investigation in dart-lang/sdk#35009 revealed a way out for the rpc package: a refactor changing how the rpc package instantiates objects for clients to take into account their types with the mirror system.  (A sample of some of the work required is in https://github.com/dart-lang/rpc/compare/experimental-mirrors-refactor).

[2018-11-18 10:29] supermuka commented on #133
Just a thought, without depth: maybe it could be an alternative to make a refactory of the rpc package by changing the method for serialization, from mirror to code generated as a json_serialization (https://pub.dartlang.org/packages/json_serializable) does.

[2018-11-26 06:08] 1gluk opened #135 "Will this project be developed?"
Will this project be developed?

[2018-11-26 17:22] jcollins-g commented on #133
@supermuka It's certainly possible, though at that point I might look to a transition to grpc for my project (dart-services, the DartPad backend) rather than redesigning this package.  grpc already uses generated code -- watching the rest of the dart ecosystem that seems to be the way folks are heading.

[2018-12-27 16:24] chstrong opened #137 "How to handle https, authentication and how to get remote ip"
Hello,

I might not be well versed enough with this framework, I have started using it, because there is no other framework that supports MySQL with transactions yet. It looked very promising, but at the moment I'm stuck, as I can't figure out, how to configure it for HTTPS, how to get HTTP request information, such as the remote ip address. Also I would need to add token based auth (Token in head

[2019-01-17 18:04] jcollins-g commented on #133
@supermuka Just to let you know, we've decided to ship a version of rpc with a more complete fix for this, since the mirrors change is going to go into a future version of 2.1 stable.  I'll try and get a PR set up for this in the next day or so and if you'd like I'd appreciate your feedback on it as a fellow customer of the package.

[2019-01-18 02:15] supermuka commented on #133
@jcollins-g, I tested and it works fine now, including generic problem https://github.com/dart-archive/rpc/issues/134, using the branch `experimental-mirrors-refactor` and Dart version 2.1.1-dev.1.0.

[2019-01-18 02:18] supermuka commented on #134
it works fine now with PR https://github.com/dart-archive/rpc/pull/138.

[2019-01-18 02:18] #134 closed

[2019-01-22 18:07] #133 closed

[2019-07-18 21:44] supermuka commented on #116
library archived.

[2019-07-18 21:44] #116 closed

[2019-07-18 21:44] supermuka commented on #117
library archived.

[2019-07-18 21:44] #117 closed

[2019-07-18 21:44] supermuka commented on #128
library archived.

[2019-07-18 21:44] #128 closed

[2020-05-24 04:19] #71 closed

[2020-11-20 14:44] enyo opened #142 "Is anyone else using this project?"
We have a rather big code base depending on this project. Is there somebody else using it, and interested in trying to maintaining it (for example to implement `nullsafety`)?

[2020-11-24 09:04] kevin-sakemaer commented on #142
Since this project has been archived i'm not sure it will be updated :disappointed:  (but i'm not on the dart team so it's more a guess maybe better to wait for response from them)

What you can do is migrating to [shelf_router_generator](https://pub.dev/packages/shelf_router_generator) the api is somewhat the same and with some middleware you should be able to almost replicate what is done in thi

[2020-11-24 13:44] kevin-sakemaer commented on #142
I'm extracting some functionality out in an open source repository is here as of now https://github.com/Kleak/shelf_helpers
Will also publish it on pub today.
more functionality will come don't hesitate to request if needed.

[2020-11-24 15:47] enyo commented on #142
Nice. Will this also generate the client libraries?

[2020-11-24 16:56] kevin-sakemaer commented on #142
short answer: Not with this package it's just some middleware put together to help with CORS, serialize/deserialize for now.

Here are some way of doing it now :
You can look at openapi from this yaml you can automatically generate client lib.
The last part would be to generated all the boilerplate backend code from this yaml file.
I don't know any package that can do that as of now :disappointed: